
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <base href="/">
     <link rel="stylesheet" href="main.css">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="">Movies</a>, 
        <a href="">Showtimes</a>,
        <a href="">Events</a>, 
        <a href="">Discounts</a>,
        <a href="">Hall Rent</a>,
        <a href="">Profile</a>
    </header>
</body>
</html>