{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema</title>
    <base href="/">
    
     <link rel="stylesheet" href="{% static 'Republic/main.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <a href="main">Movies</a> 
        <a href="">TV shows</a>
        <a href="genres/">Genres</a>
        <a href="">Studios</a>
        <a href="">Profile</a>
    </header>



    <h1 class="headline">Genres</h1>
    <ul class="ulist">
        {% for genre in genres %}
        <li><a class="listlink" href="{% url 'genre_detail' genre.id %}">{{ genre.name }}</a></li>
        {% empty %}
        <p class="empty_search">No genres available.</p>
        {% endfor %}
    </ul>

 
</body>
</html>