body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: #3A3A3A;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    font-size: larger;
    padding: 10px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

a:hover, a:active {
   color: #FFEA00; 
}

.search-container {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #3A3A3A;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 820px;
    width: 450px;
}

.search-bar {
    flex: 1;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: left;
    background: transparent;
}

.search-icon {
    color: white;
    margin-right: 10px;
    flex-shrink: 0;
}

.search-bar::placeholder {
    color: gray;
    opacity: 1;
}