body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: #3A3A3A;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    font-size: larger;
    padding: 10px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
}



header a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

a div {
    height: 200px;
    width: 200px;
    border-radius:50%;
}

a:hover, a:active {
   color: #FFEA00; 
}



.search-container {
    position: relative;
    top: 60px;
    padding: 10px 10px;
    background-color: #3A3A3A;
    border-radius: 25px;
    overflow: hidden;
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar {
    flex: 1;
    color: white;
    width: 410px;
    border: none;
    outline: none;
    font-size: 15px;
    text-align: left;
    background: transparent;
}

.search-icon {
    color: white;
    margin-right: 10px;
    flex-shrink: 0;
}

.search-bar::placeholder {
    color: gray;
    opacity: 1;

}


.picture1 {
    height: 429px;
    width: 286px;
    border-radius:20px 20px 0 0;

}


.Poster-container {
    margin-top: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: auto;
    gap: 30px;
}

.Poster-container2 {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    height: auto;
    gap: 30px;
}

.movie-poster {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster2 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster3 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster4 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster5 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster6 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster7 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster8 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster9 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster10 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster11 {
    height: 478px;
    width: 286px;
    position: relative;
}

.movie-poster12 {
    height: 478px;
    width: 286px;
    position: relative;
}

.genre {
    position: relative;
    bottom: -228px;
    height: 49px;
    border-radius: 0 0 20px 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: x-large;
}


.genre:hover {
    background-color:#FFEA00;
}

