body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1E1E1E;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 20px);
    background-color: #3A3A3A;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 40px;
    font-size: larger;
    padding: 10px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 100;
}



header a {
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

a:hover, a:active {
   color: #FFEA00; 
}

.movie-name {
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 50px;
}

.movie-info {
    position: relative;
    top: -50px;
    color: rgb(160, 160, 160);
    font-family: 'Inter', sans-serif;

}

.picture1 {
    height: 429px;
    width: 286px;
    border-radius: 20px;

}

.movie-presentation {
    margin-top: 50px;
}

.media {
    position: relative;
    top: -55px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

video {
    border-radius: 20px;
}

.movie-description {
    position: relative;
    top: -40px;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: large;
    width: 1000px;

}

.division-line {
    position: relative;
    top: -40px;
    height: 2px;
    width: 1028px;
    background-color: rgb(160, 160, 160);
}

.ticket-button {
    position: relative;
    top: -20px;
    margin-right: 800px;
    display: flex;
    height: 50px;
    width: 160px;
    border-radius: 20px;
    background-color: white;
    justify-content: center;
}


.ticket-button:hover {
    background-color: #FFEA00;
}



.buy-button {
    position: relative;
    top: 11px;
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 25px;
}

.buy-button:hover {
    color: black;
}